.off{
    background-color: rgb(61, 61, 61);
    width: 70px; 
}
.stop{
background-color: rgb(61, 61, 61);
width: 70px; 
box-shadow:
  0 0 100px 20px #ebd93752,
  0 0 140px 20px #cc3232
}
.warning{
background-color: rgb(61, 61, 61);
width: 70px; 
box-shadow:
  0 0 100px 20px #ebd93752,
  0 0 140px 20px #e7b416;
}

.go{
background-color: rgb(35, 75, 35);
width: 70px; 
box-shadow:
  0 0 100px 20px #ebd93752,
  0 0 140px 50px #2dc937;
}


.red{
background-color: rgba(255,0,0,0.7);
background-size: cover;
filter: brightness(115%) contrast(100%);
background-blend-mode: overlay;
width: 50px;
height: 50px;
line-height: 50px;
}
.redOff{
background-color: #cc323252;

background-size: cover;
filter: brightness(65%) contrast(100%);
background-blend-mode: overlay;
width: 50px;
height: 50px;
line-height: 50px;
}
.yellow{
background-color: #ffc003;
filter: brightness(120%) contrast(100%);
background-size: cover;
background-blend-mode: overlay;
width: 50px;
height: 50px;
line-height: 50px;
}
.yellowOff{
background-color: #e7b31652;
background-blend-mode: overlay;
width: 50px;
height: 50px;
line-height: 50px;
}

.green{
background-color: #0fff1fc0;
filter: brightness(95%) contrast(100%);
background-blend-mode: overlay;
width: 50px;
height: 50px;
line-height: 50px;
}
.greenOff{
background-color: #2dc93752;

background-size: cover;
filter: brightness(65%) contrast(100%);
background-blend-mode: overlay;
width: 50px;
height: 50px;
line-height: 50px;
}
